certifi==2024.6.2
distlib==0.3.8
django==5.0.6
django-cors-headers==4.4.0
filelock==3.14.0
gunicorn==22.0.0
matplotlib==3.7.2
numpy==1.26.4
pipenv==2024.0.0
platformdirs==4.2.2
psycopg2==2.9.9
requests==2.31.0
setuptools==71.0.3
statsmodels==0.14.0
virtualenv==20.26.2